$deep-red: #990000;
$red-over: rgba(153, 0, 0, 0.4);
$deep-orange: #CC3300 ;
$med-orange:  #da500e;
$deep-yellow:  #FFCC33;
$light-orange: #FF9900;
$light-yellow: #FFFFCC;
$green-yellow:  rgba(212,205,17,.7);
$deep-green: #336633;
$med-grenn: #669933;
$light-green: #66CC35;
$med-brown: #683300;
$light-blue: #6699CC ;
$light-beige: #f6f1ea;
$logo-brown: #695a60;
$light-grey: rgba(246, 246, 246, .5);
$dark-grey: rgba(211,211,211,0.4);
$dark-khaki: rgb(170, 167, 122);